 #b1{
text-decoration:none;
padding :10px;
font-family: "Open Sans", sans-serif;
font-variant: small-caps;
margin-top: 15px;
margin-bottom: 15px;
font-weight:30;
font-size:15px;
color:rgb(0, 0, 0);
border-radius: 15px;
background-color:rgb(77, 72, 134);
}

#b2{
text-decoration:none;
padding :10px;
font-family: "Open Sans", sans-serif;
font-variant: small-caps;
margin-top: 15px;
margin-bottom: 15px;
font-weight:30;
font-size:15px;
color:rgb(20, 0, 255);
border-radius: 15px;
background-color:rgb(0, 0, 0);
}
