@import url('https://fonts.googleapis.com/css?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

.boton{
  font-family: 'Sacramento';
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: rgb(0, 0, 255);
  border-radius: 20px;
  font-size: 30px;
}

form{
  font-family: 'Seaweed Script';
  font-size: 30px;
  color: rgb(255, 0, 230);

}
.oculto { display: none; }
.visible { display: inline; }

#contenido{
  visibility:hidden;
}

.conten{
  visibility:hidden;
}
h2{
    font: small-caps 40px serif;
    font-size: 25px;
    color:rgb(121, 28, 179) ;
}
